<a href="https://colab.research.google.com/github/wayne0git/financial_lab/blob/main/twse_crawl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ref
- https://www.finlab.tw/超簡單台股每日爬蟲教學
- https://raymond-investment.com/web-crawler-twse-1/

In [ ]:
import numpy as np
import pandas as pd
import requests

from io import StringIO

In [ ]:
# Parameter
DATESTR = '20180131'

In [ ]:
# Download
r = requests.post('https://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date=' + DATESTR + '&type=ALL')

In [ ]:
# Text to DataFrame
text = r.text.replace("=", "")  # Remove = in "證券代號"
header_index = ["證券代號" in l for l in r.text.split("\n")].index(True) - 1
df = pd.read_csv(StringIO(text), header=header_index)

In [ ]:
df.apply(lambda s: pd.to_numeric(s.astype(str).str.replace(",", "").replace("+", "1").replace("-", "-1"), errors='coerce'))
df

       證券代號     證券名稱       成交股數   成交筆數  ... 最後揭示賣價 最後揭示賣量     本益比 Unnamed: 16
0      0050   元大台灣50  4,251,739  1,176  ...  84.65     80    0.00         NaN
1      0051  元大中型100      7,500      3  ...  32.50      5    0.00         NaN
2      0052     富邦科技      4,001      5  ...  57.90      1    0.00         NaN
3      0053     元大電子          1      1  ...  37.35      1    0.00         NaN
4      0054   元大台商50      2,001      3  ...  24.64      8    0.00         NaN
...     ...      ...        ...    ...  ...    ...    ...     ...         ...
13718  9944       新麗     31,013     28  ...  19.75     10   50.51         NaN
13719  9945      潤泰新  3,736,138  1,927  ...  33.50     52    7.55         NaN
13720  9946     三發地產    188,743     83  ...  13.00      4   13.98         NaN
13721  9955       佳龍     69,012     49  ...  15.00      1    0.00         NaN
13722  9958      世紀鋼  7,951,033  3,588  ...  43.65      1  136.41         NaN

[13723 rows x 17 columns]

In [1]:
import json
import numpy as np
import pandas as pd
import requests

### Parameter

In [3]:
DATE = '20180131'
STOCK_NO = '2330'
URL = 'https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=%s&stockNo=%s' % (DATE, STOCK_NO)

### Download stock price (From https://www.twse.com.tw)

In [5]:
data = requests.get(URL).text

### Preprocessing

In [6]:
json_data = json.loads(data)
Stock_data = json_data['data']
StockPrice = pd.DataFrame(Stock_data, columns = ['Date','Volume','Volume_Cash','Open','High','Low','Close','Change','Order'])

In [7]:
StockPrice

         Date      Volume     Volume_Cash  ...   Close Change   Order
0   107/01/02  18,055,269   4,188,555,408  ...  232.50  +3.00   9,954
1   107/01/03  31,706,091   7,504,382,512  ...  237.00  +4.50  13,633
2   107/01/04  29,179,613   6,963,192,636  ...  239.50  +2.50  10,953
3   107/01/05  23,721,255   5,681,934,695  ...  240.00  +0.50   8,659
4   107/01/08  21,846,692   5,281,823,362  ...  242.00  +2.00  10,251
5   107/01/09  19,043,123   4,588,314,012  ...  242.00   0.00   7,124
6   107/01/10  25,716,220   6,118,683,273  ...  236.50  -5.50  10,534
7   107/01/11  32,070,338   7,500,674,455  ...  235.00  -1.50   9,199
8   107/01/12  23,141,291   5,463,302,207  ...  237.00  +2.00   7,905
9   107/01/15  28,576,533   6,832,851,887  ...  240.00  +3.00   9,756
10  107/01/16  23,407,632   5,609,009,540  ...  240.50  +0.50   8,156
11  107/01/17  38,118,119   9,207,582,787  ...  242.00  +1.50  12,593
12  107/01/18  50,119,952  12,406,562,364  ...  248.50  +6.50  19,482
13  107/01/19  55,061,292  13,975,174,348  ...  255.50  +7.00  18,801
14  107/01/22  45,907,509  11,934,882,643  ...  261.50  +6.00  13,558
15  107/01/23  34,606,444   9,155,080,569  ...  266.00  +4.50  13,993
16  107/01/24  42,600,813  11,022,372,004  ...  258.00  -8.00  17,287
17  107/01/25  46,214,756  11,981,089,514  ...  258.00   0.00  15,826
18  107/01/26  43,514,523  11,101,977,348  ...  255.00  -3.00  12,821
19  107/01/29  31,306,234   8,067,780,117  ...  258.50  +3.50  12,211
20  107/01/30  37,410,591   9,523,980,994  ...  253.00  -5.50  12,987
21  107/01/31  45,807,808  11,670,582,000  ...  255.00  +2.00  13,553

[22 rows x 9 columns]