<a href="https://colab.research.google.com/github/wayne0git/financial_lab/blob/main/twse_crawl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

原文網址：https://www.finlab.tw/超簡單台股每日爬蟲教學

In [1]:
import numpy as np
import pandas as pd
import requests

from io import StringIO

In [2]:
# Parameter
DATESTR = '20180131'

### Download stock price (From https://www.twse.com.tw)

In [3]:
# Download
r = requests.post('https://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date=' + DATESTR + '&type=ALL')

### Preprocessing

In [19]:
# Text to DataFrame
text = r.text.replace("=", "")  # Remove = in "證券代號"
header_index = ["證券代號" in l for l in r.text.split("\n")].index(True) - 1
df = pd.read_csv(StringIO(text), header=header_index)

In [21]:
df.apply(lambda s: pd.to_numeric(s.astype(str).str.replace(",", "").replace("+", "1").replace("-", "-1"), errors='coerce'))
df

       證券代號     證券名稱       成交股數   成交筆數  ... 最後揭示賣價 最後揭示賣量     本益比 Unnamed: 16
0      0050   元大台灣50  4,251,739  1,176  ...  84.65     80    0.00         NaN
1      0051  元大中型100      7,500      3  ...  32.50      5    0.00         NaN
2      0052     富邦科技      4,001      5  ...  57.90      1    0.00         NaN
3      0053     元大電子          1      1  ...  37.35      1    0.00         NaN
4      0054   元大台商50      2,001      3  ...  24.64      8    0.00         NaN
...     ...      ...        ...    ...  ...    ...    ...     ...         ...
13718  9944       新麗     31,013     28  ...  19.75     10   50.51         NaN
13719  9945      潤泰新  3,736,138  1,927  ...  33.50     52    7.55         NaN
13720  9946     三發地產    188,743     83  ...  13.00      4   13.98         NaN
13721  9955       佳龍     69,012     49  ...  15.00      1    0.00         NaN
13722  9958      世紀鋼  7,951,033  3,588  ...  43.65      1  136.41         NaN

[13723 rows x 17 columns]